[Unit]
Description=Liferay Tomcat service
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/var/liferay/tomcat-8.0.32/bin/startup.sh
ExecStop=/var/liferay/tomcat-8.0.32/bin/shutdown.sh
Restart=always
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=liferay

[Install]
WantedBy=multi-user.target

